<table class="table table-hover table-outline mb-0 hidden-sm-down">
  <thead class="thead-default">
  <tr>
    <th class="text-center"><i class="icon-people"></i></th>
    <th>Employee</th>
    <th class="text-center">Name</th>
    <th class="text-center">Email</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees" (click)="showEmployee(employee.id); employeeProfileModal.show()">
    <td class="text-center">
      <div class="avatar">
        <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/1.jpg">
        <span class="avatar-status badge-success"></span>
      </div>
    </td>
    <td>
      <div>{{employee.username}}</div>
      <div class="small text-muted">
      </div>
    </td>
    <td class="text-center">
      <div>{{employee.firstname}} {{employee.lastname}}</div>
    </td>
    <td class="text-center">
      <div>{{employee.email}}</div>
    </td>
  </tr>

  </tbody>
</table>

<div bsModal #employeeProfileModal="bs-modal" id="employeeProfileModal" tabindex="-1" class="modal fade" role="dialog"
     aria-labelledby="employeeProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Employee (<i>ID: 1</i>)</h4>
        <button type="button" class="close" (click)="employeeProfileModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<app-employee-profile></app-employee-profile>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>