
<table class="table table-hover table-outline mb-0 hidden-sm-down">
  <thead class="thead-default">
  <tr>
    <th class="text-center"><i class="icon-people"></i></th>
    <th>Employee</th>
    <th class="text-center">Name</th>
    <th class="text-center">Email</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees" (click)="showEmployee(employee.id); employeeProfileModal.show()">
    <td class="text-center">
      <div class="avatar">
        <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/1.jpg">
        <span class="avatar-status badge-success"></span>
      </div>
    </td>
    <td>
      <div>{{employee.username}}</div>
      <div class="small text-muted">
      </div>
    </td>
    <td class="text-center">
      <div>{{employee.firstname}} {{employee.lastname}}</div>
    </td>
    <td class="text-center">
      <div>{{employee.email}}</div>
    </td>
  </tr>

  </tbody>
</table>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card card-accent-success">
      <div class="card-header">
        Create Employee
      </div>
      <div class="card-block">
        <div class="form-horizontal">
          <div class="form-group row">
            <div class="card-block">
              <p>Add new employee.</p>

              <p><b>This action will add new employee.</b></p>

              <button (click)="createEmployeeModal.show()" class="btn btn-sm btn-success"><i class="fa fa-user-plus"></i> Add New </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div bsModal #employeeProfileModal="bs-modal" id="employeeProfileModal" tabindex="-1" class="modal fade" role="dialog"
     aria-labelledby="employeeProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Employee (<i>ID: 1</i>)</h4>
        <button type="button" class="close" (click)="employeeProfileModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="animated fadeIn">
          <h3 class="component-title">Employee Profile</h3>

          <div class="col-md-12 mb-2">
            <!-- Nav tabs -->
            <tabset>
              <tab>
                <ng-template tabHeading><i class="fa fa-wrench"></i> General &nbsp;</ng-template>
                <div class="card-block">
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <div class="card card-accent-primary">
                        <div class="card-header">
                          Profile Information
                        </div>
                        <div class="card-block">
                          <div class="form-horizontal">
                            <div class="form-group row">
                              <label class="col-md-3 col-sm-6 form-control-label">Employee ID:</label>
                              <div class="col-md-9 col-sm-6"><input disabled class="form-control" type="text" [(ngModel)]="employee.id"></div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-3 col-sm-6 form-control-label">Employee Username: </label>
                              <div class="col-md-9 col-sm-6"><input disabled class="form-control" type="text" [(ngModel)]="employee.username"></div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-3 col-sm-6 form-control-label">Employee First Name:</label>
                              <div  class="col-md-9 col-sm-6"><input class="form-control" type="text" [(ngModel)]="employee.firstname"></div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-3 col-sm-6 form-control-label">Employee Last Name:</label>
                              <div class="col-md-9 col-sm-6"><input class="form-control" type="text" [(ngModel)]="employee.lastname"></div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-3 col-sm-6 form-control-label">Employee e-Mail:</label>
                              <div  class="col-md-9 col-sm-6"><input class="form-control" type="text" [(ngModel)]="employee.email"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!--/.col-->

                  </div><!--row-->
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <div class="card card-accent-warning">
                        <div class="card-header">
                          Branch Information
                        </div>
                        <div class="card-block">
                          <div class="form-horizontal">
                            <div class="form-group row">
                              <label class="col-md-3 col-sm-6 form-control-label">Branch ID:</label>
                              <div class="col-md-9 col-sm-6"><select class="form-control" [(ngModel)]="selectedBranch">
                                <option  *ngFor="let branch of branchList" [ngValue]="branch">{{branch.id}}</option>
                              </select>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-3 col-sm-6 form-control-label">Branch Code: </label>
                              <div class="col-md-9 col-sm-6"><input disabled class="form-control" type="text" [(ngModel)]="selectedBranch.code"></div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-3 col-sm-6 form-control-label">Branch Name:</label>
                              <div  class="col-md-9 col-sm-6"><input disabled class="form-control" type="text" [(ngModel)]="selectedBranch.name"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!--/.col-->

                  </div> <!--row-->
                </div>
              </tab>
            </tabset>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button (click)="editEmployee();" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #createEmployeeModal="bs-modal" id="createEmployeeModal" tabindex="-1" class="modal fade" role="dialog"
     aria-labelledby="createEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Employee</h4>
        <button type="button" class="close" (click)="createEmployeeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="animated fadeIn">
          <h3 class="component-title">Employee Profile</h3>

          <div class="col-md-12 mb-2">
            <!-- Nav tabs -->
            <tabset>
              <tab>
                <ng-template tabHeading><i class="fa fa-wrench"></i> General &nbsp;</ng-template>
                <div class="card-block">
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <div class="card card-accent-primary">
                        <div class="card-header">
                          Profile Information
                        </div>
                        <div class="card-block">
                          <div class="form-horizontal">
                            <div class="form-group row">
                              <label class="col-md-3 col-sm-6 form-control-label">Employee Username: </label>
                              <div class="col-md-9 col-sm-6"><input  class="form-control" type="text" [(ngModel)]="createEmployee.username"></div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-3 col-sm-6 form-control-label">Employee First Name:</label>
                              <div  class="col-md-9 col-sm-6"><input class="form-control" type="text" [(ngModel)]="createEmployee.firstname"></div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-3 col-sm-6 form-control-label">Employee Last Name:</label>
                              <div class="col-md-9 col-sm-6"><input class="form-control" type="text" [(ngModel)]="createEmployee.lastname"></div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-3 col-sm-6 form-control-label">Employee e-Mail:</label>
                              <div  class="col-md-9 col-sm-6"><input class="form-control" type="text" [(ngModel)]="createEmployee.email"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!--/.col-->

                  </div><!--row-->
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <div class="card card-accent-warning">
                        <div class="card-header">
                          Branch Information
                        </div>
                        <div class="card-block">
                          <div class="form-horizontal">
                            <div class="form-group row">
                              <label class="col-md-3 col-sm-6 form-control-label">Branch ID:</label>
                              <div class="col-md-9 col-sm-6"><select class="form-control" [(ngModel)]="selectedBranch">
                                <option  *ngFor="let branch of branchList" [ngValue]="branch">{{branch.id}}</option>
                              </select>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-3 col-sm-6 form-control-label">Branch Code: </label>
                              <div class="col-md-9 col-sm-6"><input disabled class="form-control" type="text" [(ngModel)]="selectedBranch.code"></div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-3 col-sm-6 form-control-label">Branch Name:</label>
                              <div  class="col-md-9 col-sm-6"><input disabled class="form-control" type="text" [(ngModel)]="selectedBranch.name"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!--/.col-->

                  </div> <!--row-->
                </div>
              </tab>
            </tabset>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button (click)="newEmployee();" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>