<div class="animated fadeIn">
   <h3 class="component-title">Transactions</h3>

   <div class="row">
      <div class="col-md-12 mb-2">
         <!-- Nav tabs -->
         <tabset>
            <tab>
               <ng-template tabHeading><i class="fa fa-list"></i> History Transactions &nbsp;</ng-template>
               <div class="card-block">
                  <table class="table table-striped table-hover table-outline mb-0 hidden-sm-down">
                     <thead>
                     <tr>
                        <th class="text-center"><i class="fa fa-circle"></i></th>
                        <th class="text-center">Transaction ID</th>
                        <th class="text-center">Total Price</th>
                        <th class="text-center">Status</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr *ngFor="let transaction of previousTransaction"
                         (click)="showSelectedDetails(transaction.id); transactionModal.show()">
                        <td class="text-center"><i class="fa fa-search"></i></td>
                        <td class="text-center">{{transaction.id}}</td>
                        <td class="text-center">{{transaction.totalPrice}}</td>
                        <td class="text-center">
                           <span class="badge badge-success">{{transaction.status}}</span>
                        </td>
                     </tr>
                     </tbody>
                  </table>
               </div>
            </tab>
            <tab>
               <ng-template tabHeading><i class="fa fa-users"></i> Customers &nbsp;</ng-template>
               <div class="row">
                  <div class="col-sm-12 col-md-12">
                     <div class="card card-accent-warning">
                        <div class="card-header">
                           Customer Search
                        </div>
                        <div class="card-block">
                           <div class="form-horizontal">
                              <div class="form-group row">
                                 <div class="col-md-1 col-sm-12"><input class="form-control" type="text" placeholder="ID" [(ngModel)]="searchCustomer.id"></div>
                                 <div class="col-md-3 col-sm-12"><input class="form-control" type="text" placeholder="e-Mail" [(ngModel)]="searchCustomer.email"></div>
                                 <div class="col-md-2 col-sm-12"><input class="form-control" type="text" placeholder="First name" [(ngModel)]="searchCustomer.firstname"></div>
                                 <div class="col-md-2 col-sm-12"><input class="form-control" type="text" placeholder="Last name" [(ngModel)]="searchCustomer.lastname"></div>
                                 <button (click)="searchCustomers()" type="button" style="margin-right: 0.9%" class="btn btn-primary col-md-1 col-sm-12"><i class="fa fa-search"></i>&nbsp;Search</button>
                                 <button (click)="resetSearch()" type="button" class="btn btn-warning col-md-1 col-sm-12"><i class="fa fa-eraser"></i>&nbsp;Clear</button>
                              </div>

                              <div *ngIf="showSearchResults" class="form-group row">
                                 <h4>Search Results</h4>
                                 <table class="table table-striped table-hover table-outline mb-0 hidden-sm-down">
                                    <thead>
                                    <tr>
                                       <th class="text-center"><i class="fa fa-circle"></i></th>
                                       <th class="text-center">Customer ID</th>
                                       <th class="text-center">First Name</th>
                                       <th class="text-center">Last name</th>
                                       <th class="text-center">Phone</th>
                                       <th class="text-center">e-Mail</th>
                                       <th class="text-center">Address</th>
                                       <th class="text-center">City</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let customer of customerSearchResults"
                                        (click)="showCustomerDetails(customer) ;searchedCustomerModal.show()">
                                       <td class="text-center"><i class="fa fa-search"></i></td>
                                       <td class="text-center">{{customer.id}}</td>
                                       <td class="text-center">{{customer.firstname}}</td>
                                       <td class="text-center">{{customer.lastname}}</td>
                                       <td class="text-center">{{customer.phone}}</td>
                                       <td class="text-center">{{customer.email}}</td>
                                       <td class="text-center">{{customer.address}}</td>
                                       <td class="text-center">{{customer.city}}</td>
                                    </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div><!--search-->
                  </div>
               </div><!--row-->

               <div class="row">
                  <div class="col-sm-12 col-md-12">
                     <div class="card card-accent-success">
                        <div class="card-header">
                           Register Customer
                        </div>
                        <div class="card-block">
                           <div class="form-horizontal">
                              <div class="form-group row">
                                 <div class="card-block">
                                    <p>Register new customer into the system.</p>

                                    <p><b>This action will create new customer profile.</b></p>

                                    <button (click)="resetCreateForm(); registerModal.show()" class="btn btn-sm btn-success"><i class="fa fa-user-plus"></i> Register</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </tab>
         </tabset>
      </div><!--/.col-->
   </div>
</div>


<div bsModal #transactionModal="bs-modal" id="transactionModal" tabindex="-1" class="modal fade" role="dialog"
     aria-labelledby="transactionModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-info modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Transaction (<i>ID: #{{selectedTransaction.id}}</i>)</h4>
            <button type="button" class="close" (click)="transactionModal.hide()" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <tabset>
               <tab>
                  <ng-template tabHeading><i class="fa fa-wrench"></i> General &nbsp;</ng-template>
                  <div class="card-block">
                     <div class="form-horizontal">
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">Transaction ID:</label>
                           <label class="col-md-9 col-sm-6 form-control-label">{{selectedTransaction.id}}</label>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">Transaction Status: </label>
                           <div class="col-md-9 col-sm-6"><input class="form-control" type="text" [(ngModel)]="selectedTransaction.status"></div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">Total Price:</label>
                           <div class="col-md-9 col-sm-6"><input disabled class="form-control" type="number" [(ngModel)]="selectedTransaction.totalPrice"></div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">Transaction Placed:</label>
                           <div class="col-md-9 col-sm-6">
                              <input class="form-control" type="datetime-local" disabled [(ngModel)]="selectedTransaction.dcsDate.transactionPlaced">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">Transaction Expected Completed:</label>
                           <div class="col-md-9 col-sm-6">
                              <input class="form-control" type="datetime-local" [(ngModel)]="selectedTransaction.dcsDate.transactionExpCompleted">

                           </div>
                        </div>
                     </div>
                  </div>
               </tab>
               <tab>
                  <ng-template tabHeading><i class="fa fa-user"></i> Customer &nbsp;</ng-template>
                  <div class="card-block">
                     <div class="form-horizontal">
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">Customer ID:</label>
                           <label class="col-md-9 col-sm-6 form-control-label">{{transactionCustomer.id}}</label>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">First Name:</label>
                           <div class="col-md-9 col-sm-6"><input disabled class="form-control" type="text" [(ngModel)]="transactionCustomer.firstname"></div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">Last Name:</label>
                           <div class="col-md-9 col-sm-6"><input  disabled class="form-control" type="text" [(ngModel)]="transactionCustomer.lastname"></div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">Phone:</label>
                           <div class="col-md-9 col-sm-6"><input disabled class="form-control" type="text" [(ngModel)]="transactionCustomer.phone"></div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">Address:</label>
                           <div class="col-md-9 col-sm-6"><input disabled class="form-control" type="text" [(ngModel)]="transactionCustomer.address"></div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">City:</label>
                           <div class="col-md-9 col-sm-6"><input disabled class="form-control" type="text" [(ngModel)]="transactionCustomer.city"></div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">E-mail:</label>
                           <div class="col-md-9 col-sm-6"><input disabled class="form-control" type="text" [(ngModel)]="transactionCustomer.email"></div>
                        </div>
                     </div>
                  </div>
               </tab>
               <tab>
                  <ng-template tabHeading><i class="fa fa-navicon"></i> Transaction Items &nbsp;</ng-template>
                  <table class="table table-striped table-hover table-outline mb-0 hidden-sm-down">
                     <thead>
                     <tr>
                        <th class="text-center">Product ID</th>
                        <th class="text-center">Product Name</th>
                        <th class="text-center">Product Description</th>
                        <th class="text-center">Product Price</th>
                        <th class="text-center"></th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr *ngFor="let item of selectedTransaction.transactionItems">
                        <td class="text-center">{{item.product.id}}</td>
                        <td class="text-center">{{item.product.name}}</td>
                        <td class="text-center">{{item.product.description}}</td>
                        <td class="text-center">{{item.product.price}}</td>
                     </tr>
                     </tbody>
                  </table>

               </tab>
               <tab>
                  <ng-template tabHeading><i class="fa fa-hourglass-2"></i> Transaction History &nbsp;</ng-template>
                  <table class="table table-striped table-hover table-outline mb-0 hidden-sm-down">
                     <thead>
                     <tr>
                        <th class="text-center">Transaction ID</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Transaction Placed</th>
                        <th class="text-center">Employee Username</th>
                        <th class="text-center">Branch Name</th>
                        <th class="text-center">Transaction Exp. Comp.</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Total price</th>
                        <th class="text-center"></th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr *ngFor="let transaction of selectedTransaction.hstTransactions">
                        <td class="text-center">{{transaction.id}}</td>
                        <td class="text-center">{{transaction.changeDesc}}</td>
                        <td class="text-center">{{transaction.transactionPlaced}}</td>
                        <td class="text-center">{{transaction.employeeUsername}}</td>
                        <td class="text-center">{{transaction.branchName}}</td>
                        <td class="text-center">{{transaction.transactionExpCompleted}}</td>
                        <td class="text-center">
                           <span class="badge badge-success">{{transaction.status}}</span>
                        </td>
                        <td class="text-center">{{transaction.totalPrice}}</td>
                     </tr>
                     </tbody>
                  </table>
               </tab>
            </tabset>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="transactionModal.hide()">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-success" (click)="switchToCustomer(transactionCustomer.id); transactionModal.hide(); searchedCustomerModal.show()">Switch To Customer Profile</button>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #registerModal="bs-modal" id="registerModal" tabindex="-1" class="modal fade" role="dialog"
     aria-labelledby="transactionModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-info modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Register New Customer</h4>
            <button type="button" class="close" (click)="registerModal.hide()" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="form-horizontal">
               <div class="form-group row">
                  <label class="col-md-3 col-sm-6 form-control-label">First name: </label>
                  <div class="col-md-9 col-sm-6"><input class="form-control" type="text" [(ngModel)]="createCustomer.firstname"></div>
               </div>
               <div class="form-group row">
                  <label class="col-md-3 col-sm-6 form-control-label">Last name:</label>
                  <div class="col-md-9 col-sm-6"><input class="form-control" type="text" [(ngModel)]="createCustomer.lastname"></div>
               </div>
               <div class="form-group row">
                  <label class="col-md-3 col-sm-6 form-control-label">e-Mail:</label>
                  <div class="col-md-9 col-sm-6">
                     <input class="form-control" type="text"  [(ngModel)]="createCustomer.email">
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-md-3 col-sm-6 form-control-label">Phone number:</label>
                  <div class="col-md-9 col-sm-6">
                     <input class="form-control" type="text"  [(ngModel)]="createCustomer.phone">
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-md-3 col-sm-6 form-control-label">Address:</label>
                  <div class="col-md-9 col-sm-6">
                     <input class="form-control" type="text" [(ngModel)]="createCustomer.address">
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-md-3 col-sm-6 form-control-label">City:</label>
                  <div class="col-md-9 col-sm-6">
                     <input class="form-control" type="text" [(ngModel)]="createCustomer.city">
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
         <button type="button" class="btn btn-secondary" (click)="registerModal.hide()">Close</button>
         <button (click)="registerCustomer()" type="button" class="btn btn-success">Create</button>
            <button (click)="resetCreateForm()" type="button" class="btn btn-warning">Reset</button>
      </div>
      </div>
   </div>
</div>

<div bsModal #searchedCustomerModal="bs-modal" id="searchedCustomerModal" tabindex="-1" class="modal fade" role="dialog"
     aria-labelledby="transactionModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-info modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Customer Profile</h4>
            <button type="button" class="close" (click)="searchedCustomerModal.hide()" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <tabset>
               <tab>
                  <ng-template tabHeading><i class="fa fa-info"></i> Customer Information &nbsp;</ng-template>
                  <div class="card-block">
                     <div class="form-horizontal">
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">Customer ID:</label>
                           <div class="col-md-9 col-sm-6"><input disabled class="form-control" type="text" [(ngModel)]="selectedCustomer.id"></div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">Employee First Name:</label>
                           <div  class="col-md-9 col-sm-6"><input disabled class="form-control" type="text" [(ngModel)]="selectedCustomer.firstname"></div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">Employee Last Name:</label>
                           <div class="col-md-9 col-sm-6"><input disabled class="form-control" type="text" [(ngModel)]="selectedCustomer.lastname"></div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">Address: </label>
                           <div class="col-md-9 col-sm-6"><input disabled class="form-control" type="text" [(ngModel)]="selectedCustomer.address"></div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">City: </label>
                           <div class="col-md-9 col-sm-6"><input disabled class="form-control" type="text" [(ngModel)]="selectedCustomer.city"></div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">Phone: </label>
                           <div class="col-md-9 col-sm-6"><input disabled class="form-control" type="text" [(ngModel)]="selectedCustomer.phone"></div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-3 col-sm-6 form-control-label">Customer e-Mail:</label>
                           <div  class="col-md-9 col-sm-6"><input disabled class="form-control" type="text" [(ngModel)]="selectedCustomer.email"></div>
                        </div>
                     </div>
                  </div>
               </tab>
               <tab>
                  <ng-template tabHeading><i class="fa fa-list"></i> Transactions &nbsp;</ng-template>
                  <div class="card-block">
                     <table class="table table-striped table-hover table-outline mb-0 hidden-sm-down">
                        <thead>
                        <tr>
                           <th class="text-center"><i class="fa fa-circle"></i></th>
                           <th class="text-center">Transaction ID</th>
                           <th class="text-center">Status</th>
                           <th class="text-center">Total Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of selectedCustomer.transactions" (click)="showSelectedDetails(item.transaction.id); transactionModal.show(); searchedCustomerModal.hide()">
                           <td class="text-center"><i class="fa fa-search"></i></td>
                           <td class="text-center">{{item.transaction.id}}</td>
                           <td class="text-center">
                              <span class="badge badge-success">{{item.transaction.status}}</span>
                           </td>
                           <td class="text-center">{{item.transaction.totalPrice}}</td>
                        </tr>
                        </tbody>
                     </table>
                  </div>
               </tab>
               <tab>
                  <ng-template tabHeading><i class="fa fa-hourglass-2"></i> History &nbsp;</ng-template>
                  <div class="card-block">
                     <table class="table table-striped table-hover table-outline mb-0 hidden-sm-down">
                        <thead>
                        <tr>
                           <th class="text-center">History ID</th>
                           <th class="text-center">Date Changed</th>
                           <th class="text-center">Change Description</th>
                           <th class="text-center">First Name</th>
                           <th class="text-center">Phone</th>
                           <th class="text-center">e-Mail</th>
                           <th class="text-center">Address</th>
                           <th class="text-center">City</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of selectedCustomer.hstCustomers">
                           <td class="text-center">{{item.id}}</td>
                           <td class="text-center">{{item.dateChanged}}</td>
                           <td class="text-center">{{item.changeDesc}}</td>
                           <td class="text-center">{{item.firstname}}</td>
                           <td class="text-center">{{item.phone}}</td>
                           <td class="text-center">{{item.email}}</td>
                           <td class="text-center">{{item.address}}</td>
                           <td class="text-center">{{item.city}}</td>
                        </tr>
                        </tbody>
                     </table>
                  </div>
               </tab>

               <tab>
                  <ng-template tabHeading><i class="fa fa-star"></i> Rewards &nbsp;</ng-template>
                  <div class="card-block">
                     <table class="table table-striped table-hover table-outline mb-0 hidden-sm-down">
                        <thead>
                        <tr>
                           <th class="text-center">Amount</th>
                           <th class="text-center">Occured</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let reward of selectedCustomer.rewardPoints">
                           <td class="text-center">{{reward.amount}}</td>
                           <td class="text-center">{{reward.occurred}}</td>
                        </tr>
                        </tbody>
                     </table>
                  </div>
               </tab>
            </tabset>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="searchedCustomerModal.hide()">Close</button>
         </div>
      </div>
   </div>
</div>