<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a id="myLogo" class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar" [hasPermission]="['customer']">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/service-info']"><i class="icon-speedometer"></i> Service Info </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/customer-profile']"><i class="icon-speedometer"></i> User Profile </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/rewards']"><i class="icon-speedometer"></i> Rewards </a>
                </li>
            </ul>
        </nav>
    </div>


    <div class="sidebar" [hasPermission]="['employee']">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/service-info']"><i class="icon-speedometer"></i> Service Information </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLinkActive="active" [routerLink]="['/employee-profile']"><i class="fa fa-user"></i> Employee Profile </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/employee-transactions']"><i class="fa fa-dollar"></i> Transactions Information</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <breadcrumbs></breadcrumbs>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    <a href="https://genesisui.com">Clever</a> &copy; 2017 creativeLabs.
    <span class="float-right">Powered by <a href="https://genesisui.com">GenesisUI</a>
    </span>
</footer>
